 .game-board {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(4, 1fr);
     width: max-content;
     height: max-content;
     gap: 6px;
     padding: 15px;
     background-color: rgb(246, 249, 254);
     border-radius: 20px;
 }