.game-container {
    max-width: max-content;
    margin: 4rem auto 0 auto;
    text-align: center;
    background-color: rgb(233, 229, 236);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.game-header {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    font-weight: bold;
}