* {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    --tile-size: 80px;
}

.game-container {
    border: 1px solid black;
    background-color: #eee;
    width: max-content;
    margin: 60px auto;
    text-align: center;
    padding: 30px 50px;
    border-radius: 5%;
}

.game-heading {
    color: darkblue;
}

.game-board {
    border: 1px solid black;
    background-color: #fff;
    width: max-content;

    padding: 10px;
    border-radius: 5%;
}

.game-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, var(--tile-size));
    grid-template-rows: repeat(4, var(--tile-size));
    width: max-content;
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
    border-radius: 15%;
}

.hidden {
    background-color: gray;
}

.revealed {
    background-color: var(--tile-color);
}

.matched {
    background-color: var(--tile-color);
    border: 1px solid rgb(2, 210, 2);
}

.restart {
    display: block;
    margin: 15px auto 0px auto;
    border: 1px solid #888;
    border-radius: 6px;
    padding: 8px 15px;
    background-color: #f3f3f3;
}

.restart:hover {
    background-color: #ccc;
}